.container2 {
    background-color: #F7ECDC;
    width: 70vw;
    height: 100vh;
}

.home {
    width: 70vw;
    height: 100vh;
    background-color: #F7ECDC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: #E8E8E8;
    padding: 25px;
}